.light {
	font-weight: lighter
}
.regular {
	font-weight: normal;
}
.bold {
	font-weight: bold;
}
.underline {
	text-decoration: underline;
}
.strikethrough {
	text-decoration: line-through;
}
.italic {
	font-style: italic;
}
.uppercase {
	text-transform: uppercase;
}
.text-center {
	text-align: center !important;
}
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.line-height-0-5 {
	line-height: 0.5em;
}
.line-height-1 {
	line-height: 1em;
}
.line-height-1-1 {
	line-height: 1.1em;
}
.line-height-1-2 {
	line-height: 1.2em;
}
.line-height-1-3 {
	line-height: 1.3em;
}
.line-height-1-4 {
	line-height: 1.4em;
}
.line-height-1-5 {
	line-height: 1.5em;
}
.line-height-2 {
	line-height: 2em;
}